#ext-topics{
    max-width: 1600px;
    padding: 30px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
#ext-statements{
    max-width: 1600px;
    padding: 30px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
.top-cont{
    width: 280px;
    height: 30px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
}

.btn.disabled {
    opacity: 0.4;
}

div.disabled a{
    display: none;
}

.st-cont{
    width: 280px;
    height: 150px;
    background: silver;
    padding: 5px;
    margin: 10px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

/* Mastery types and levels */
.topic-name{
    margin-right: 5px;
}
.mastery-rel{
    margin-left: 7px;
}
.ui-slider{
    width: 80%;
    margin: 2%;
    height: 0.5em;
}
.skill .ui-slider-range{
    background: #df8505;
}
.knowledge .ui-slider-range{
    background: #0480be;
}
.interest .ui-slider-range{
    background: #46a546;
}
.ui-slider .ui-slider-handle {
    width: 1.0em;
    height: 1.0em;
    background-image: url("http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/img/glyphicons-halflings.png");
}
.skill .ui-slider-handle {
    background-position: -360px -144px;
}
.knowledge .ui-slider-handle {
    background-position: -48px -48px;
}
.interest .ui-slider-handle {
    background-position: -95px -120px;
}

/* Pagination */
div .btn-group {
    display: block;
    margin-left: 35%;
    margin-right: auto;
}
.btn-group > .btn:first-child {
    border-radius: 15px 0px 0px 15px;
    width: 150px;
}
.btn-group > .btn:last-child {
    border-radius: 0px 15px 15px 0px;
    width: 150px;
}